/* usando o flexbox: verificar quem é o pai? */

.cabecalhoPrincipal .container {
    display: flex;
    /* alinhar verticalmente os elementos que estão dentro desse container*/
    align-items: center;
    /* colocar o espaço entre os elementos usando space-between */
    justify-content: space-between;
}


/* Colocando elementos um do lado do outro, precisa verificar Quem é o Pai deles? */

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    /* alinhou um do lado do outro. Perfeito!!! */
    display: flex;
    /* colocar o espaço entre os elementos usando space-between */
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    /* colocar o display flex no pai que é a 'ul' */
    display: flex;
    /* alinhar no centro */
    align-items: center;
    /* arrumando espaços INTEGRALMENTE entre  os elementos, ou seja, distribuir espaço em volta dos elementos */
    justify-content: space-around;
    /* definir a largura do elemento da 'ul' com o width */
    width: 70%;
    /* descolar os elementos que estão juntos coloca 70% e um margin-right de 5% */
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    /* definir a largura do formulário */
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    /* display: flex na div que é 'pai' do input do botão, onde o filho pega o mesmo tamanho, ele alinha o tamanho, alinha à altura dos elementos */
    /* Portanto, o flex também deixa os filhos com a mesma aparência dos pais! */
    display: flex;
}

.rodapePrincipal-navMap-list {
    /* naturalmente o display flex distribui os elementos lado a lado */
    display: flex;
    /* deixa um elemento do lado do outro 'HORIZONTAL'  -> flex-direction: row;*/
    /* flex-direction: row; */
    /* deixa um elemento do lado do outro 'VERTICAL'  -> flex-direction: column;*/
    flex-direction: column;
    /* e uma altura de 250px, e depois pedir para o 'WRAP' quebrar para a próx coluna*/
    height: 250px;
    /* Que faça a quebra para a próxima linha, ou seja, continuasse na próx coluna 'NÃO COUBE NO PAI QUEBRA E VAI PARA A PRÓX COLUNA*/
    flex-wrap: wrap;
}